.e404 {
    width: 100vw;
    height: 100vh;

    text-align: center;
}

.e404 div {
    display: inline-block;

    margin-top: 50vh;

    transform: translate(0%, -50%);
}

.project-page {
    text-align: center;
}