footer {
  height: 250px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

footer .icons {
  display: flex;
  margin-bottom: 20px;
}

footer .icon {
  filter: brightness(.8);
  transition: transform 200ms ease-in;
}

footer .icon:hover {
  transform: scale(1.25);
}

footer .icon svg {
  width: 40px;
}

footer .title {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 12px;
}

footer .icon-margin-right {
  margin-right: 40px;
}

footer .icon-margin-left {
  margin-left: 40px;
}

footer .icon-margin-both {
  margin: 0 40px;
}