.projects {
    margin-bottom: 50px;
    text-align: center;
}

.projects .thumbnail {
    background: url(../../assets/projects.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 300px;
    filter: brightness(.8);
}

.projects h1 {
    margin: 50px 0;
    font-size: 30px;

    font-weight: 400;
    letter-spacing: 1px;
}

.projects .projects-wrapper {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 750px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 30px;
}

.project{
    cursor: pointer;
}

.project img {
    height: 250px;
    width: 100%;
}

.project .name {
    font-weight: bold;
    letter-spacing: 1px;
}

.project .details {
    text-align: left;
}

@media (max-width: 426px) {
    .projects .projects-wrapper{
        grid-template-columns: auto;

        margin-left: 15px;
        margin-right: 15px;
    }
}